@model Domain.Recipe

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarkedAsFavorite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarkedAsFavorite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVegetarian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVegetarian)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVegan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVegan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
